@charset "utf-8";

/* google fonts */
* {
  font-family: "Noto Sans JP", sans-serif;
}

/* ヘッダー用 */
/* 最大幅時調整用の入れ物 */
.common_header_bwrapper {
  background: #EDE0D4;
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.header_gmenu {
  display: flex;
  align-items: center;
  position: relative;
}

/* ハンバーガーメニュー */
.header_navicon,
.header_navicon::after,
.header_navicon::before {
  content: " ";
  display: block;
  width: 24px;
  height: 3px;
  background: #7F5539;
  position: absolute;
}

.header_navicon::before {
  bottom: 10px;
}

.header_navicon::after {
  top: 10px;
}

#open_button {
  width: 24px;
  height: 20px;
}

.hammenu_contents {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 99;
  background: rgba(127, 85, 57, 0.75);
  font-family: "Noto Sans JP", system-ui;
  padding: 12px;
  transition: left 0.3s ease;
}

.header_hammenu a {
  color: #fff;
  padding: 16px 12px;
  display: block;
}

.header_hammenu li:hover a {
  color: #D9D9D9;
}

.header_hammenu li {
  border-bottom: #fff solid 1px;
}

.hammenu_logos {
  position: relative;
  margin-bottom: 60px;
}

#hammenu_close_icon {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 26px;
  height: 26px;
}

.hammenu_close_span::before,
.hammenu_close_span::after {
  content: " ";
  display: block;
  width: 24px;
  height: 5px;
  background: #FFF;
  position: absolute;
  top: 50%;
  right: 0;
}

#hammenu_close_icon:hover .hammenu_close_span::before,
#hammenu_close_icon:hover .hammenu_close_span::after {
  background: #D9D9D9;
}

.hammenu_close_span::before {
  transform: rotate(45deg);
}

.hammenu_close_span::after {
  transform: rotate(-45deg);
}


/* 各グローバルメニュー要素の調整 */
.header_logo {
  min-width: 60px;
  text-align: right;
  flex-basis: 50%;
}

.header_icons {
  position: absolute;
  right: 0;
}

.header_search {
  margin-top: 12px;
  margin-bottom: 12px;
  text-wrap: nowrap;
}

.header_search button {
  padding: 8px;
  text-align: center;
  background: #D9D9D9;
  border: 1px solid #7F5539;
  aspect-ratio: 1 / 1;
}

.header_search button img {
  max-width: 100%;
}

.header_search input[type=text] {
  background: #fff;
  border: 1px solid #7F5539;
  width: 90.4%;
  padding: 8px;
}

/* ページトップへ戻るボタン */
.top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #7f5539ce;
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.top_btn::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 16px;
  left: 12px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(-45deg);
}

.top_btn.btn_active {
  opacity: 1;
  visibility: visible;
}

/* ここまでヘッダーです */

/* パンくず＆ユーザー名 */
.navigator {
  width: 100%;
  padding: 12px 0 12px 20px;
  text-align: left;
  color: #7f5539;
  font-size: 12px;
}

.bread_crumb {
  display: flex;
  flex-wrap: nowrap;
}

.bread_crumb li {
  position: relative;
}

.bread_crumb li:not(:first-child) {
  padding-left: 15px;
}

.bread_crumb li:not(:last-child)::after {
  content: ">";
  position: absolute;
  top: -3px;
  right: -12px;
  font-size: 16px;
}

.brown_line {
  width: 100%;
  color: #7f5539;
}

/* ここからフッター です*/
footer {
  font-size: 12px;
  font-family: "Noto Sans JP", system-ui;
  background: #EDE0D4;
  width: 100%;

  color: #7F5539;
  padding: 12px;
}

.footer_menu li {
  margin-bottom: 24px;
  margin-top: 24px;
  padding-left: 12px;
  border-left: #B392AC 2px solid;
}

.footer_menu li a {
  display: inline-block;
}

.footer_snslink {
  display: flex;
  margin-bottom: 24px;
}

.footer_logo {
  text-align: right;
  margin-bottom: 24px;
}

.footer_snslink li a img {
  width: 32px;
  margin-right: 20px;
}

.footer_small {

  font-size: 8px;
  text-align: center;
  display: block;
  margin-bottom: 24px;
}

/* 共通input要素 */
.common_input {
  border: #7F5539 1px solid;
  width: 100%;
  padding: 4px;
  text-align: left;
}

.common_shortinput {
  width: 20%;
}

/* 送信ボタンここから */
/* <div class="common_form_submit"><input type="submit" value="ボタンの中のテキスト"></div> */

.common_form_submit {
  margin-top: 40px;
}

.common_form_submit input {
  text-align: center;
  color: #fff;
  padding: 20px 16px;
  background: #7F5539;
  width: 67%;
  max-width: 200px;
  transition: all 0.2s ease-in;
}

.common_form_submit input:hover {
  background: #EDE0D4;
  color: #7F5539;
  border: #7F5539 solid 1px;
  transition: all 0.2s ease-in;
  font-weight: 700;
}

/* 送信ボタンここまで */

/* カートに入れるボタン　ここから*/

.common_btn_cart input {
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 11px;
  background: #7F5539;
  border: #7F5539 solid 1px;
  width: 158px;
  transition: all 0.2s ease-in;
}

.common_btn_cart input:hover {
  background: #EDE0D4;
  color: #7F5539;
  border: #7F5539 solid 1px;
  transition: all 0.2s ease-in;
  font-weight: 700;
  box-sizing: border-box;
}

/* カートに入れるボタン　ここまで */


/* 共通　フォームの(必須) */
legend,
.customer_pass {
  margin-bottom: 8px;
}

.common_required {
  color: #BF0000;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* 確認ページのdd要素 */
.common_ddline {
  border-left: 1px solid #7F5539;
  padding: 4px;
  margin-bottom: 20px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {

  /* ヘッダーPC */
  .common_header_bwrapper {
    padding: 0;
  }

  .header_gmenu {
    padding-top: 29px;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 29px;
  }

  .header_logo img {
    min-width: 80px;
  }

  .header_icons img {
    width: 40px;
    margin-left: 32px;
    height: 60px;
  }

  .header_icons .header_loginicon {
    width: 48px;
  }

  .header_search {
    background: #B392AC;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
  }

  .header_search input[type=text] {
    width: 26%;
    max-width: 360px;
    margin-right: 7%;
  }

  #open_button {
    width: 48px;
    height: 40px;
  }

  .header_navicon,
  .header_navicon::after,
  .header_navicon::before {
    width: 48px;
  }

  .header_navicon::before {
    bottom: 20px;
  }

  .header_navicon::after {
    top: 20px;
  }

  .hammenu_contents {
    width: 43vw;
    max-width: 600px;
  }

  .hammenu_logos img {
    width: 14%;
    min-width: 60px;
  }

  .hammenu_close_span::before,
  .hammenu_close_span::after {
    width: 54px;
  }

  .header_hammenu a {
    font-size: 24px;
    padding: 20px 12px;
  }

  .header_hammenu li {
    text-shadow:
      1px 1px 0 #7F5539,
      -1px 1px 0 #7F5539,
      -1px -1px 0 #7F5539,
      1px -1px 0 #7F5539;
  }

  .header_search {
    margin-bottom: 0;
  }

  /*　PC用　パンくず＆ユーザー名 */
  .navigator {
    padding: 12px 0 12px 103px;
  }

  .bread_crumb li:not(:last-child):hover {
    text-decoration: underline;
    text-decoration-color: #7f5539;
  }

  /* footerPC */
  footer {
    font-size: 16px;
  }

  .footer_menu {
    display: flex;
    margin-bottom: 40px;
  }

  .footer_menu li {
    margin: 0;
    padding: 12px 62px 12px 12px;
  }

  .footer_logo {
    text-align: center;
    margin-bottom: 40px;
  }

  .footer_logo img {
    width: 140px;
  }

  .footer_snslink {
    margin-bottom: 60px;
  }

  .footer_snslink li a img {
    width: 64px;
    margin-right: 80px;
  }

  .footer_small {
    margin-bottom: 65px;
    font-size: 12px;
  }

  /* PC ページトップへ戻るボタン */
  .top_btn {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
  }

  .top_btn::after {
    width: 25px;
    height: 25px;
    top: 23px;
    left: 17px;
  }

  /* input要素 */

  .common_input {
    padding: 0.15rem;
  }

  .common_shortinput {
    width: 30%;
  }

  /* 確認ページのdd要素 */
  .common_ddline {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {

  /* 最大PC */
  .header_gmenu {
    max-width: 1366px;
  }

  /* 最大footer */
  footer {
    display: grid;
    place-content: center;
  }

  .footer_wrapper {
    width: 1200px;
  }
}

/* ここまでフッター */