@charset "utf-8";

.customer_wrapper {
  font-size: 12px;

  color: #7F5539;
  background: #fff;
}

header {
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
}

main {
  text-align: center;
}


h1 {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #7F5539;
}

form {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

fieldset {
  margin-bottom: 20px;
}

legend,
.customer_pass {
  margin-bottom: 8px;
}

.customer_req,
.customer_pass {
  color: #BF0000;
}

legend {
  text-align: left;
}

.customer_req {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}



.customer_addnum {
  text-align: left;
  width: 40%;
}

.customer_pass {
  font-size: 10px;
  text-align: left;
}

.form_submit {
  margin-top: 40px;
}

.form_submit input {
  text-align: center;
  color: #fff;
  padding: 20px 16px;
  background: #7F5539;
  width: 67%;
  max-width: 200px;
  transition: all 0.3s ease-in;

}

.form_submit input:hover {
  background: #EDE0D4;
  color: #7F5539;
  transition: all 0.3s ease-in;
}

/* confirm */
dl {
  width: 79%;
  text-align: left;
  margin: 0 auto;
}

dt {
  font-weight: 400;
  font-size: 12px;
}

/* complete */
.result_box {
  color: #333333;

  border: #E8C2CA 2px solid;
  width: 78%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 416px;
  padding-top: 24px;
  padding-bottom: 20px;
}

.result_box p {
  margin-bottom: 12px;
  font-size: 12px;

}

.link_pr {
  display: inline-block;
  margin-top: 24px;
}

.link_pr a {
  color: #7F5539;
  padding: 4px;
  display: block;
  border-bottom: #7F5539 1px solid;
}

.link_pr a:hover {
  color: #B392AC;
  transition: all 0.3s ease-in;
  border-bottom: #B392AC 1px solid;

}

@media screen and (min-width: 768px) {
  header img {
    width: 80px;
  }



  .customer_wrapper {
    font-size: 24px;

  }

  h1 {
    font-size: 32px;
    margin-bottom: 80px;
    margin-top: 80px;

  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }



  fieldset {
    margin-bottom: 40px;
  }

  .customer_addnum {
    width: 30%;
  }

  .customer_pass {
    font-size: 20px;
  }

  .form_submit {
    margin-top: 80px;
    margin-bottom: 160px;
  }

  .form_submit input {
    font-size: 20px;
    padding: 20px 50px;
    max-width: 300px;

  }

  dl {
    width: 22%;
  }

  dt {
    font-size: 24px;
  }

  .result_box {
    width: 78%;
    max-width: 600px;
    padding-top: 80px;
    padding-bottom: 70px;

    margin-bottom: 638px;

  }

  .result_box p {
    font-size: 24px;

  }

  .link_pr {
    margin-top: 40px;

    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .customer_wrapper {
    width: 1200px;
    margin: 0 auto;
  }


}