@charset "UTF-8";

main {
    width: 100%;
    margin-bottom: 80px;
}

.detail_menu {
    width: 90%;
    margin: 20px auto;
}

.detail_img {
    width: 100%;
    margin-bottom: 20px;
}

.detail_submenu {
    color: #7f5539;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detail_explain {
    color: #7f5539;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #ede0d4;
    border-bottom: 1px solid #ede0d4;
    padding: 20px 0;
    line-height: 1.6;
}

.detail_money {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 24px;
    color: #bf0007;
}

.detail_favorite {
    padding-left: 20px;
    vertical-align: top;
}

.detail_buy {
    display: flex;
}

.detail_buy>p {
    vertical-align: bottom;
}

.detail_text {
    border: 1px solid #7f5539;
    width: 56px;
    height: 36px;
    font-size: 16px;
}

.cart_input {
    margin-left: 12px;
    background-color: #7f5539;
    text-align: center;
    color: #fff;
    width: 160px;
}

/* pc版 */
@media screen and (min-width: 768px) {}