@charset "utf-8";

h1>img {
  width: 100%;
}

.sec_1 {
  width: 100%;
  padding: 5% 6%;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 48% 52%;
  grid-template-rows: 60% 40%;
}

.grid img {
  width: 100%;
  height: 100%;
}

.new_item {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
}

.new_mark {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #ff8877;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_mark {
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(0.75rem, 0.3rem + 1.8vw, 1.125rem);
  font-weight: bold;
  color: #fff;
}

.new_item::after {
  content: "サマーシトラス";
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: #fff;
  font-size: clamp(0.75rem, 0.3rem + 1.8vw, 1.125rem);
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.donuts_life {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  padding-left: 10%;
  position: relative;
}

.donuts_life::after {
  content: "ドーナツのある生活";
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: #fff;
  font-size: clamp(0.75rem, 0.3rem + 1.8vw, 1.125rem);
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.banner {
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
  padding-top: 5%;
  position: relative;
}

.banner::after {
  content: "商品一覧";
  position: absolute;
  bottom: 6%;
  right: 3%;
  color: #7f5539;
  font-size: clamp(0.75rem, 0.4rem + 1.8vw, 1.125rem);
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.sec_2 {
  position: relative;
}

.bg_sp {
  width: 100%;
}

.bg_pc {
  display: none;
}

.bg_sp img {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  font-size: clamp(1.5rem, 0.546rem + 4.07vw, 2.5rem);
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 17%;
  margin-bottom: 3%;
}

.sub_text {
  font-size: clamp(1rem, 0.523rem + 2.04vw, 1.5rem);
}

.inner {
  margin-top: 11%;
}

.main_text {
  font-size: clamp(1.25rem, 0.773rem + 2.04vw, 1.75rem);
  text-transform: capitalize;
  margin-bottom: 2%;
}