@charset "utf-8";

/* SP main領域 */
.hero_sp {
  width: 100%;
}

.hero_pc {
  display: none;
}

.sec_1 {
  width: 100%;
  padding: 5% 6%;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 48% 52%;
  grid-template-rows: 60% 40%;
}

/* ガターで隙間調整 */

.grid img {
  width: 100%;
  height: 100%;
}

.new_item {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
}

.new_mark {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #ff8877;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_mark {
  font-size: clamp(0.75rem, 0.3rem + 1.8vw, 1.125rem);
  font-weight: bold;
  color: #fff;
}

.new_item::after {
  content: "サマーシトラス";
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: #fff;
  font-size: clamp(0.75rem, 0.3rem + 1.8vw, 1.125rem);
  font-weight: bold;
}

.donuts_life {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  margin-left: 10%;
  position: relative;
}

.donuts_life::after {
  content: "ドーナツのある生活";
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: #fff;
  font-size: clamp(0.75rem, 0.3rem + 1.8vw, 1.125rem);
  font-weight: bold;
}

.banner {
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
  padding-top: 5%;
  position: relative;
}

.banner::after {
  content: "商品一覧";
  position: absolute;
  bottom: 6%;
  right: 3%;
  color: #7f5539;
  font-size: clamp(0.75rem, 0.4rem + 1.8vw, 1.125rem);
  font-weight: bold;
}

.sec_2 {
  position: relative;
}

.bg_sp {
  width: 100%;
}

.bg_pc {
  display: none;
}

.bg_sp img {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: clamp(1.5rem, 0.546rem + 4.07vw, 2.5rem);
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 17%;
  margin-bottom: 3%;
}

.sub_title,
.sub_text {
  font-size: clamp(1rem, 0.523rem + 2.04vw, 1.5rem);
}

.inner {
  margin-top: 11%;
}

.main_text {
  font-size: clamp(1.25rem, 0.773rem + 2.04vw, 1.75rem);
  text-transform: capitalize;
  margin-bottom: 2%;
}

@media screen and (min-width: 768px) {

  /* PC main領域 */
  .hero_sp {
    display: none;
  }

  .hero_pc {
    display: block;
    width: 100%;
  }

  .grid {
    width: 76%;
    max-width: 1040px;
    margin: 0 auto;
  }

  .new_mark {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 29%;
    height: 29%;
  }

  .new_mark {
    font-size: clamp(1.3rem, -0.3rem + 3vw, 2.25rem);
    font-weight: normal;
  }

  .new_item::after {
    bottom: 2%;
    right: 2%;
    font-size: clamp(1.3rem, -0.3rem + 3vw, 2.25rem);
  }

  .donuts_life {
    padding-left: 8%;
  }

  .donuts_life::after {
    bottom: 2%;
    right: 2%;
    font-size: clamp(1.3rem, -0.3rem + 3vw, 2.25rem);
  }

  .banner::after {
    bottom: 3%;
    right: 1%;
    font-size: clamp(1.3rem, -0.3rem + 3vw, 2.25rem);
  }

  .bg_sp {
    display: none;
  }

  .bg_pc {
    display: block;
    width: 100%;
  }

  .bg_pc img {
    width: 100%;
  }

  h2 {
    font-size: 36px;
    margin-top: 14%;
    margin-bottom: 1.5%;
  }

  .sub_title {
    font-size: 20px;
  }

  .inner {
    margin-top: 3%;
  }

  .main_text {
    font-size: 24px;
    margin-bottom: 1.5%;
  }

  .sub_text {
    font-size: 24px;
  }
}